body {
    margin: 30px 50px;
}

.inline-container {
    display: flex; /* Arrange items in a row */
    align-items: center; /* Vertically center image and text */
    gap: 10px; /* Space between image and text */
}

.inline-container img {
    width: 40px; /* Adjust image size */
    height: auto;
}

.critical-edition {
    color: red;
}
